node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
tsconfig.tsbuildinfo
.factory/
AGENTS.md
tasks/
/MIDI/
metadata.json
package-lock.json
.eslintrc.json
/mouse_cursor.svg
.vercel
test-results
.vscode/
set-source/
set/
/*.mid
/*.midi
/video-output/
